prometheus_url: "http://172.16.100.52:8428"
prometheus_username: "admin"  # 无鉴权可不填
prometheus_password: "WeV7zUfgQ+]+"  # 无鉴权可不填

# 多数据源配置
data_sources:
  - name: "cluster1"
    url: "http://prometheus.K3S.monitoring.kubehan.cn"
    username: ""
    password: ""
  - name: "cluster2"
    url: "http://prometheus.monitoring.kubehan.cn"
  - name: "test-cluster"
    url: "http://prometheus.monitoring.kubehan.cn"

project_name: "Beiming开发环境巡检报告"


# 定时任务：每天9点半和17半执行

cron_schedule: "00 08,18 * * *"


# 报告清理

report_cleanup:
  enabled: true
  max_age: 7    # 保留最近7天的报告
  cron_schedule: "0 1 * * *"  # 如果为空，则执行执行上面定时任务，即生成报告时清理

# 配置发送钉钉和邮件

notifications:
  dingtalk:
    enabled: false
    webhook: "https://oapi.dingtalk.com/robot/send?access_token=xxxxxxxxxxxxxxxxxxxxxxxxxxxx"  # 这里填写自己的webhook
    secret: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"  # 这里填写的是加钉钉机器人加签的secret
    report_url: "http://192.168.5.125:41174"  # 这里可以填写ip+端口，也可以填写域名,如果是K3S里部署，推荐采用域名的方式，如果不行可以将 svc 以nodeport方式暴露出来，这里就可以使用ip+端口方式
  email:
    enabled: false
    smtp_host: "smtp.exmail.qq.com"  # 我这里用的是腾讯企业邮箱，需要改成自己的
    smtp_port: 465
    username: "demo@demo.cn"  # 填写自己的邮箱账号
    password: "xxxxxxxxxxxxxxxxxxxx"  # 这里填写的是授权码
    from: "demo@demo.cn"
    to:
      - "demo@demo.cn"
    report_url: "https://promai.kubehan.cn"  # 这里可以填写ip+端口，也可以填写域名，如果是K3S里部署，推荐采用域名的方式，如果不行可以将 svc 以nodeport方式暴露出来，这里就可以使用ip+端口方式,如果是部署在K3S里，ingress 的需要自己去编写
  wechat_work:
    enabled: true  # 是否启用企业微信通知
    webhook: "https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=0c4ef257-a6f0-430c-b454-xxxxxx"  # 企业微信机器人webhook地址
    proxy_url: ""  # HTTP代理地址，例如: http://proxy.example.com:8080 或 socks5://proxy.example.com:1080
    report_url: "https://alert.intra.kubehan.cn"  # 报告访问地址

metric_types:
  - type: "L1-虚拟化层：PVE性能"
    metrics:
      - name: "PVE虚拟机数量"
        description: "PVE虚拟机数量"
        query: >-
          sum(pve_node_vm_count)
        threshold: 1
        threshold_type: "less"
        threshold_status: "critical"
        unit: ""
        
      - name: "PVE CPU使用率"
        description: "PVE CPU使用率"
        query: >-
          avg(pve_node_cpu_load) * 100
        threshold: 80
        threshold_type: "greater"
        threshold_status: "critical"
        unit: "%"
        labels:
      - name: "PVE内存使用率"
        description: "PVE内存使用率"
        query: >-
          sum(pve_node_memory_used_bytes) / sum(pve_node_memory_total_bytes) * 100
        threshold: 80
        threshold_type: "greater"
        threshold_status: "critical"
        unit: "%"
        labels:
      - name: "PVE磁盘使用率"
        description: "PVE磁盘使用率"
        query: >-
          pve_storage_used_fraction * 100
        threshold: 80
        threshold_type: "greater"
        threshold_status: "critical"
        unit: "%"
        labels:
          storage: "类型"


  - type: "L1-基础设施层：服务器性能"
    metrics:
      - name: "CPU性能状态监控"
        description: "CPU性能状态监控-1h内平均使用率"
        query: >-
          avg_over_time(
            (
              100 - avg by(instance, nodename) (irate(node_cpu_seconds_total{job="linux_host",mode="idle"}[5m]) * 100)
            )[1h:]
          ) * on(instance) group_left(nodename) node_uname_info{job="linux_host"}
        threshold: 90
        threshold_type: "greater"
        unit: "%"
        labels:
          nodename: "主机名"
          instance: "实例地址"
      - name: "机器负载与CPU核心数比率监控"
        query: >-
          (node_load5/count without (cpu, mode) (node_cpu_seconds_total{job="linux_host",mode="system"}))* on(instance) group_left(nodename) (node_uname_info{job="linux_host",nodename !~"hadoop.*"})
        threshold: 3
        threshold_type: "greater"
        unit: "倍"
        labels:
          instance: "实例地址"
          nodename: "主机名"
          
      - name: "内存性能状态监控"
        query: "avg_over_time((100 - ((node_memory_MemAvailable_bytes{job='linux_host'} * 100)/node_memory_MemTotal_bytes{job='linux_host'}))[1h:]) * on(instance) group_left(nodename) node_uname_info{job='linux_host'}"
        threshold: 80
        threshold_type: "greater"
        unit: "%"
        labels:
          nodename: "主机名"
          instance: "实例地址"

      - name: "存储设备状态监控"
        query: >-
          (
            (
              (100 - (node_filesystem_avail_bytes{job='linux_host'} * 100 / node_filesystem_size_bytes{job='linux_host',mountpoint=~"/home|/mnt.*|/data.*|/opt.*"}))
              and
              ON (instance, device, mountpoint) node_filesystem_readonly{job='linux_host'} == 0
            )
            * ON (instance) group_left(nodename) node_uname_info{job='linux_host'}
          )
        threshold: 80
        threshold_type: "greater"
        threshold_status: "critical"
        unit: "%"
        labels:
          nodename: "主机名"
          instance: "实例地址"
          device: "磁盘设备"
          mountpoint: "盘路径"

      - name: "磁盘读写IO性能监控3小时内平均使用率"
        description: "磁盘读写IO性能监控-3小时内平均使用率"
        query: 'min_over_time((rate(node_disk_io_time_seconds_total{job="linux_host"}[5m]) * 100)[3h:5m]) >= 10'
        threshold: 95
        threshold_type: "greater"
        unit: "%"
        labels:
          instance: "实例地址"
          device: "磁盘设备"
          service: "服务名称"

  
  - type: "L2-网络层：网络设备"
    metrics:
      - name: "服务器网络连接数负载监控"
        query: "node_netstat_Tcp_CurrEstab{}"
        threshold: 30000
        threshold_type: "greater"
        threshold_status: "critical"
        unit: ""
        labels:
          instance: "实例地址"
      - name: "防火墙CPU-1小时平均使用率"
        query: avg(sfCpuLoadLast15Min{job="firewall_af"}[1h])
        threshold: 80
        threshold_type: "greater"
        threshold_status: "critical"
        unit: "%"
        labels:
          instance: "实例地址"
          cpuIndex: "CPU序号"
      - name: "防火墙内存使用率"
        query: label_value(sfSysMemoryUsage, "sfSysMemoryUsage")
        threshold: 80
        threshold_type: "greater"
        threshold_status: "critical"
        unit: ""
        labels:
          instance: "实例地址"
          sfSysMemoryUsage: "内存使用率"
      - name: "防火墙1小时平均下载流量"
        query: rate(ifHCInOctets{job="firewall_af",ifName=~"eth1|eth2"}[1h])/1024
        threshold: 0
        threshold_type: "greater"
        threshold_status: "normal"
        unit: "KB/s"
        labels:
          instance: "实例地址"
          ifName: "端口号"
      - name: "防火墙1小时平均上传流量"
        query: rate(ifHCOutOctets{job="firewall_af",ifName=~"eth1|eth2"}[1h])/1024
        threshold: 0
        threshold_type: "greater"
        threshold_status: "normal"
        unit: "KB/s"
        labels:
          instance: "实例地址"
          ifName: "端口号"
      - name: "核心交换机CPU-1小时平均使用率"
        query: avg(hwEntityCpuUsage{job="huawei_core"}[1h])
        threshold: 80
        threshold_type: "greater"
        threshold_status: "critical"
        unit: "%"
        labels:
          instance: "实例地址"
      - name: "核心交换机内存使用率"
        query: hwEntityMemUsage{job="huawei_core"}
        threshold: 80
        threshold_type: "greater"
        threshold_status: "critical"
        unit: "%"
        labels:
          instance: "实例地址"
      - name: "核心交换机1小时平均下载流量"
        query: rate(ifHCInOctets{job="huawei_core",ifName=~"GigabitEthernet.*"}[1h])/1024
        threshold: 0
        threshold_type: "greater_equal"
        threshold_status: "normal"
        unit: "KB/s"
        labels:
          instance: "实例地址"
          ifName: "端口号"
      - name: "核心交换机1小时平均上传流量"
        query: rate(ifHCOutOctets{job="huawei_core",ifName=~"GigabitEthernet.*"}[1h])/1024
        threshold: 0
        threshold_type: "greater_equal"
        threshold_status: "normal"
        unit: "KB/s"
        labels:
          instance: "实例地址"
          ifName: "端口号"

      

  - type: "L3-容器层：K3S运行环境核心服务"
    metrics:
      - name: "K3S Node 非正常状态检查"
        description: "Node 节点状态异常或宕机"
        query: 'kube_node_status_condition{job="kube-state-metrics",condition="Ready",status="true"}  * on(node) group_left(label_hostname) (kube_node_labels{})'
        threshold: 1
        threshold_type: "equal"
        threshold_status: "normal"
        unit: ""
        labels:
          node: "主机名"
          instance: "实例地址"

      - name: "系统关键Pod运行状态监控"
      # calico,ingress,etcd,dns
        description: "系统关键Pod运行状态监控"
        query: >-
          kube_pod_status_ready{condition="false",namespace=~"kube-system|.*beiming.*|monitoring|default",pod !~".*helm.*"}
        threshold: 0
        threshold_type: "equal"
        threshold_status: "normal"
        unit: ""
        labels:
          namespace: "命名空间"
          condition: "状态"
          pod: "服务名称"


      - name: "k3s集群etcd响应错误率"
        description: "k3s集群etcd状态监控"
        query: "rate(etcd_request_errors_total[5m]) / rate(etcd_requests_total[5m])"
        threshold: 0.01
        threshold_type: "greater"
        threshold_status: "critical"
        unit: ""
        labels:
          instance: "实例地址"

      - name: "DNS服务响应性能监控"
        description: "DNS服务响应性能监控"
        query: "histogram_quantile(0.99,sum(rate(coredns_dns_request_duration_seconds_bucket{}[5m])) by(le,job,instance,pod))"
        threshold: 2
        threshold_type: "greater"
        unit: "s"
        labels:
          instance: "实例地址"
          job: "服务名"
          pod: "DNS服务节点"


      - name: "容器CPU-1小时内平均使用率较高汇总"
        description: "容器CPU资源使用监控"
        query: >-
          100 * 
          avg_over_time(
            (
              sum by(container, namespace, pod) (
                rate(container_cpu_usage_seconds_total{
                  container!="",
                  namespace !~ ".*preview.*"
                }[5m])
              )
              /
              sum by(container, namespace, pod) (
                kube_pod_container_resource_limits{
                  container!="",
                  resource="cpu",
                  namespace !~ ".*preview.*"
                }
              )
            )[1h:]
          ) > 80
        threshold: 85
        threshold_type: "greater"
        unit: "%"
        labels:
          namespace: "命名空间"
          pod: "服务名称"


      - name: "容器内存-1小时内平均使用率较高汇总"
        description: "容器内存资源使用监控"
        query: >-
            100 * 
            avg_over_time(
            (
              sum by(container, namespace, pod) (
                container_memory_working_set_bytes{
                  container!="",
                  container!="POD",
                  namespace !~ ".*preview.*"
                }
              )
              /
              sum by(container, namespace, pod) (
                kube_pod_container_resource_limits{
                  container!="",
                  container!="POD",
                  resource="memory",
                  namespace !~ ".*preview.*"
                }
              )
            )[1h:]
            ) > 80
        threshold: 95
        threshold_type: "greater"
        unit: "%"
        labels:
          namespace: "命名空间"
          pod: "服务名称"

      - name: "节点Pod资源数量使用负载监控"
        description: "节点Pod资源使用负载监控"
        query: >-
          count by(cluster, node) (
            (kube_pod_status_phase{job="kube-state-metrics", phase="Running"} == 1)
            * on(instance, pod, namespace, cluster) group_left(node)
            kube_pod_info{job="kube-state-metrics"}
          )
          /
          max by(cluster, node) (
            kube_node_status_capacity{job="kube-state-metrics", resource="pods"}
          ) > 0
        threshold: 95
        threshold_type: "greater"
        unit: "%"
        labels:
          node: "主机名"

### 数据库 ###
  - type: "L3-数据库层：TiDB数据库服务"
    metrics:
      - name: "TiDB数据库状态"
        description: "TiDB数据库状态"
        query: 'probe_success{group="tidb"}'
        threshold: 1
        threshold_type: "equal"
        threshold_status: "normal"
        unit: ""
        labels:
          instance: "实例地址"
          cluster: "集群名称"
      - name: "TiKV服务状态"
        description: "TiKV服务状态"
        query: 'probe_success{group="tikv"}'
        threshold: 1
        threshold_type: "equal"
        threshold_status: "normal"
        unit: ""
        labels:
          instance: "实例地址"
          cluster: "集群名称"
      - name: "PD服务状态"
        description: "PD服务状态"
        query: 'probe_success{group="pd"}'
        threshold: 1
        threshold_type: "equal"
        threshold_status: "normal"
        unit: ""
        labels:
          instance: "实例地址"
          cluster: "集群名称"
      - name: "TiKV日志备份服务状态"
        description: "TiKV日志备份服务状态"
        query: 'tikv_log_backup_enabled'
        threshold: 1
        threshold_type: "equal"
        threshold_status: "normal"
        unit: ""
        labels:
          instance: "实例地址"
          cluster: "集群名称"
      - name: "TiKV日志备份服务任务执行状态"
        description: "TiKV日志备份服务任务执行状态"
        query: 'tikv_log_backup_task_status'
        threshold: 0
        threshold_type: "equal"
        threshold_status: "normal"
        unit: ""
        labels:
          instance: "实例地址"
          cluster: "集群名称"
      - name: "TiDB活跃连接数"
        description: "TiDB活跃连接数"
        query: 'tidb_server_tokens'
        threshold: 500
        threshold_type: "greater"
        threshold_status: "critical"
        unit: ""
        labels:
          instance: "实例地址"
          cluster: "集群名称"
      - name: "TiDB SQL并发度"
        description: "TiDB SQL并发度"
        query: 'sum(rate(tidb_server_handle_query_duration_seconds_sum{sql_type!="internal"}[5m])) by (sql_type)'
        threshold: 2000
        threshold_type: "greater"
        threshold_status: "critical"
        unit: "ms"
        labels:
          sql_type: "SQL类型"
      - name: "TiDB QPS"
        description: "TiDB QPS"
        query: 'sum(rate(tidb_executor_statement_total[5m])) by (type)'
        threshold: 500
        threshold_type: "greater"
        threshold_status: "critical"
        unit: "qps"
        labels:
          type: "SQL类型"
      - name: "TiDB SQL查询失败"
        description: "TiDB SQL查询失败"
        query: 'sum(rate(tidb_server_execute_error_total[5m]))'
        threshold: 10
        threshold_type: "greater"
        threshold_status: "critical"
        unit: ""
        labels:
          type: "错误类型"
### 中间件 #######

  - type: "L4-中间件层：Redis缓存服务"
    metrics:
      - name: "Redis服务状态"
        description: "Redis实例运行状态监控"
        query: 'redis_up{job!~".*sentinel.*"}'
        threshold: 1
        threshold_type: "equal"
        threshold_status: "normal"
        unit: ""
        labels:
          instance: "实例地址"

      - name: "Redis连接数"
        description: "Redis连接数使用率监控"
        query: "(redis_connected_clients / redis_config_maxclients) * 100"
        threshold: 80
        threshold_type: "greater"
        unit: "%"
        labels:
          instance: "实例地址"

      - name: "Redis内存使用"
        description: "Redis内存使用率监控"
        query: "redis_memory_used_bytes / redis_memory_max_bytes"
        threshold: 0.8
        threshold_type: "greater"
        unit: "%"
        labels:
          instance: "实例地址"

      - name: "Redis内存碎片"
        description: "Redis内存碎片率监控"
        query: "redis_memory_used_rss_bytes/redis_memory_used_bytes"
        threshold: 3
        threshold_type: "greater"
        unit: ""
        labels:
          instance: "实例地址"

      - name: "Redis慢查询"
        description: "Redis慢查询数量监控"
        query: "rate(redis_slowlog_length[5m])"
        threshold_type: "greater"
        threshold: 50
        unit: ""
        labels:
          instance: "实例地址"
  - type: "L4-中间件层：MinIO对象存储服务"
    metrics:
      - name: "MinIO磁盘在线状态"
        description: "MinIO磁盘在线状态"
        query: 'minio_cluster_drive_online_total{job="minio-job"}'
        threshold: 1
        threshold_type: "equal"
        threshold_status: "normal"
        unit: ""
        labels:
          instance: "实例地址"
      - name: "MinIO磁盘使用率"
        description: "MinIO磁盘使用率"
        query: '((minio_cluster_capacity_usable_total_bytes - minio_cluster_capacity_usable_free_bytes)/minio_cluster_capacity_usable_total_bytes) * 100'
        threshold: 80
        threshold_type: "greater"
        threshold_status: "critical"
        unit: "%"
        labels:
          instance: "实例地址"
      - name: "S3 API接口响应错误数"
        description: "S3 API接口响应错误数"
        query: 'sum by (server,api) (increase(minio_s3_requests_5xx_errors_total{job=~"minio-job"}[1h]))'
        threshold: 1
        threshold_type: "greater"
        threshold_status: "critical"
        unit: ""
        labels:
          server: "服务地址"
          api: "API接口"
##################
  - type: "L5-Nginx代理服务"
    metrics:
      - name: "Nginx状态"
        description: "Nginx状态"
        query: 'nginx_up'
        threshold: 1
        threshold_type: "equal"
        threshold_status: "normal"
        unit: ""
        labels:
          instance: "实例名称"
          region: "监控区域"
      - name: "Nginx最大连接数"
        description: "Nginx最大连接数"
        query: 'max_over_time(nginx_connections_active[12h])'
        threshold: 1000
        threshold_type: "greater"
        threshold_status: "critical"
        unit: ""
        labels:
          instance: "实例名称"
          region: "监控区域"
      - name: "Nginx请求QPS"
        description: "Nginx请求QPS"
        query: 'irate(nginx_http_requests_total[2m])'
        threshold: 500
        threshold_type: "greater"
        threshold_status: "critical"
        unit: ""
        labels:
          instance: "实例名称"
          region: "监控区域"
################
  #- type: "L6-应用层：业务服务监控"
  #  metrics:
#
  #    - name: "CMDB服务状态监控"
  #      description: "CMDB服务状态监控-自定义监控建设中"
  #      query: >-
  #        cmdb_status
  #      threshold: 1
  #      threshold_type: "equal"
  #      threshold_status: "normal"
  #      unit: ""
  #      labels:
  #        instance: "地址"
  #        hostname: "主机名"
  #        component: "服务名"
  #        owner: "负责人"


  - type: "L7-采集层：监控数据采集状态"
    metrics:
      - name: "监控数据采集状态监控"
        description: "Exporter数据采集服务状态监控"
        query: >-
           up{job=~"linux.*|kube-.*|minio.*|pve.*|.*nginx.*"}
        threshold: 1
        threshold_type: "equal"
        threshold_status: "normal"
        unit: ""
        labels:
          instance: "地址"
          job: "服务对应exporter命名"
          region: "监控区域"